@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf');

    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Medium.ttf');

    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Light.ttf');

    font-weight: 300;
}


body {

    padding: 0;
    margin: 0;

    width: 100%;
    height: 100vh;

    background-color: #151515;
    color: white;

    font-family: 'Poppins', monospace;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: clip;
    user-select: none;

}


.main-fib-container {

    padding: 15px;
    box-sizing: border-box;

    height: 100vmin;
    aspect-ratio: 2/3;

    display: flex;

}

.main-fib-container.even {

    height: auto;
    width: 100vmin;
    aspect-ratio: 5/3;
}



.fib-container {

    display: flex;
    flex: 1;

    gap: 3px;
}

.fib-container.left {

    flex-direction: row-reverse;
}

.fib-container.right {
    flex-direction: row;

}

.fib-container.up {
    flex-direction: column-reverse;
}

.fib-container.down {
    flex-direction: column;

}


.fib-div {


    flex: 1;
    background-color: #707070;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 0;
    min-height: 0;

    animation: reveal .3s ease-out;
}


.left>.fib-div {

    background-color: #A8D5BA ;
}

.right>.fib-div {

    background-color: #FFF2B2 ;
}

.down>.fib-div {

    background-color: #F2B5B5 ;
}

.up>.fib-div {

    background-color: #BFD8F5 ;
}


@keyframes reveal {
    
    0%{

        transform: scale(0);
    }

    90%{

        transform: scale(1.1);
    }

    100%{

        transform: scale(1);
    }

}